@font-face {
    font-family: 'font';
    src: url('./Trajan\ Bold.ttf')
  }

html {
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	background-color: #000000;
	color: #fff;
    /* overflow: hidden; */
    font-family: 'font';
}

h1 {
	text-align: center;
    font-size: 2.5em;
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 10px;

}

button {
	display: block;
	margin: auto;
	font-size: 24px;
	padding: 12px;
	background-color: #A72714;
	color: #fff;
	border: none;
}

button:hover {
	background-color: #C94B42;
	cursor: pointer;
}

#timer {
	text-align: center;
	font-size: 6em;
	margin: 0 auto;
	/* margin-top: 50px; */
    color: #ffffff;
}

ul {
    text-align: center;
	margin-top: 20px;
	padding-left: 0;
	list-style: none;
}

li {
	margin: 0 auto;
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 10px;
	padding: 10px;
}

p {
    text-align: justify;
    font-size: 1.2em;
    padding: 10px;
	line-height: 2em;
}

hr{
	border: 1px solid #fff;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	opacity: 50%;
}

h4 {
	text-align: center;
	font-size: 01em;
	margin: 0 auto;
	/* margin-top: 50px; */
	margin-bottom: 50px;
}